.submit-button {
    background: linear-gradient(to right, #56ab2f, #a8e063);
    color: white;
}

.submit-button:hover {
    background: linear-gradient(to right, #4cae28, #93d550);
}

.cancel-button {
    background-color: #e74c3c;
    color: white;
}

.cancel-button:hover {
    background-color: #c0392b;
}
